--
-- PostgreSQL database dump
--

-- Dumped from database version 15.1
-- Dumped by pg_dump version 15.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: approved_new_rejected_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.approved_new_rejected_type AS ENUM (
    'Approved',
    'New',
    'Rejected'
);


ALTER TYPE public.approved_new_rejected_type OWNER TO postgres;

--
-- Name: headline_article_archive_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.headline_article_archive_type AS ENUM (
    'Headline',
    'Article',
    'Archive'
);


ALTER TYPE public.headline_article_archive_type OWNER TO postgres;

--
-- Name: public_member_both_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.public_member_both_type AS ENUM (
    'Public',
    'Member',
    'Both'
);


ALTER TYPE public.public_member_both_type OWNER TO postgres;

--
-- Name: yes_no_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.yes_no_type AS ENUM (
    'Yes',
    'No'
);


ALTER TYPE public.yes_no_type OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: administrators; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.administrators (
    id integer NOT NULL,
    name character varying(100) DEFAULT ''::character varying NOT NULL,
    email character varying(100) DEFAULT ''::character varying NOT NULL,
    username character varying(100) DEFAULT ''::character varying NOT NULL,
    password character varying(100) DEFAULT ''::character varying NOT NULL,
    administratoractive integer DEFAULT 0 NOT NULL,
    su public.yes_no_type DEFAULT 'No'::public.yes_no_type NOT NULL,
    clientsid integer DEFAULT 1 NOT NULL,
    hash character varying(111) NOT NULL
);


ALTER TABLE public.administrators OWNER TO postgres;

--
-- Name: administrators_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.administrators_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.administrators_id_seq OWNER TO postgres;

--
-- Name: administrators_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.administrators_id_seq OWNED BY public.administrators.id;


--
-- Name: clients; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.clients (
    id integer NOT NULL,
    name character varying(50) NOT NULL
);


ALTER TABLE public.clients OWNER TO postgres;

--
-- Name: content_pages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.content_pages (
    id integer NOT NULL,
    uri character varying(100) DEFAULT ''::character varying NOT NULL,
    menutitle character varying(100) DEFAULT ''::character varying NOT NULL,
    languagesid integer DEFAULT 1 NOT NULL,
    changed timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    domainsid integer NOT NULL,
    templatesid integer DEFAULT 0 NOT NULL,
    module_viewsid integer DEFAULT 1 NOT NULL,
    meta_keywords text NOT NULL,
    meta_description text NOT NULL,
    meta_title text NOT NULL,
    exposure public.public_member_both_type DEFAULT 'Both'::public.public_member_both_type NOT NULL,
    menu_hide public.yes_no_type DEFAULT 'No'::public.yes_no_type NOT NULL,
    homepage public.yes_no_type DEFAULT 'No'::public.yes_no_type NOT NULL,
    sort_order integer DEFAULT 0,
    "Title" character varying(100) NOT NULL COLLATE pg_catalog."en-AU-x-icu"
);


ALTER TABLE public.content_pages OWNER TO postgres;

--
-- Name: countries; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.countries (
    id integer NOT NULL,
    country_code character varying(2) NOT NULL,
    country_name character varying(111) NOT NULL
);


ALTER TABLE public.countries OWNER TO postgres;

--
-- Name: domains; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.domains (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    analytics text NOT NULL,
    gsitemapmeta character varying(200) NOT NULL,
    sitetitle character varying(50) DEFAULT NULL::character varying,
    clientsid integer DEFAULT 1 NOT NULL,
    aemail character varying(50) DEFAULT 'danielruul78@gmail.com'::character varying NOT NULL,
    templatesid integer DEFAULT 1 NOT NULL,
    serversid integer NOT NULL,
    mirrorid integer DEFAULT 0 NOT NULL,
    public public.yes_no_type DEFAULT 'No'::public.yes_no_type NOT NULL,
    "SEOFriendly" public.yes_no_type DEFAULT 'Yes'::public.yes_no_type NOT NULL
);


ALTER TABLE public.domains OWNER TO postgres;

--
-- Name: domains_modules; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.domains_modules (
    id integer NOT NULL,
    domainsid integer NOT NULL,
    modulesid integer NOT NULL
);


ALTER TABLE public.domains_modules OWNER TO postgres;

--
-- Name: languages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.languages (
    id integer NOT NULL,
    name character varying(100) NOT NULL
);


ALTER TABLE public.languages OWNER TO postgres;

--
-- Name: mod_business_categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mod_business_categories (
    id integer NOT NULL,
    categorytitle character varying(100) NOT NULL,
    subdomain character varying(100) NOT NULL,
    domainsid integer NOT NULL
);


ALTER TABLE public.mod_business_categories OWNER TO postgres;

--
-- Name: mod_news; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mod_news (
    id integer NOT NULL,
    content_pagesid integer NOT NULL,
    content_text text NOT NULL,
    image character varying(100) NOT NULL,
    ntype public.public_member_both_type DEFAULT 'Public'::public.public_member_both_type,
    usersid integer DEFAULT 0 NOT NULL,
    approved public.yes_no_type DEFAULT 'No'::public.yes_no_type NOT NULL,
    sorder integer DEFAULT 0 NOT NULL,
    mntype public.headline_article_archive_type DEFAULT 'Article'::public.headline_article_archive_type NOT NULL,
    description character varying(150) NOT NULL
);


ALTER TABLE public.mod_news OWNER TO postgres;

--
-- Name: mod_text; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mod_text (
    id integer NOT NULL,
    content_pagesid integer NOT NULL,
    content_text text NOT NULL,
    sidebar_content public.yes_no_type DEFAULT 'No'::public.yes_no_type NOT NULL
);


ALTER TABLE public.mod_text OWNER TO postgres;

--
-- Name: module_views; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.module_views (
    id integer NOT NULL,
    modulesid integer NOT NULL,
    pre_filename character varying(50) NOT NULL,
    filename character varying(50) NOT NULL,
    viewname character varying(50) NOT NULL
);


ALTER TABLE public.module_views OWNER TO postgres;

--
-- Name: module_views_menu; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.module_views_menu (
    module_viewsid integer NOT NULL,
    exposure public.public_member_both_type DEFAULT 'Public'::public.public_member_both_type NOT NULL
);


ALTER TABLE public.module_views_menu OWNER TO postgres;

--
-- Name: modules; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.modules (
    id integer NOT NULL,
    name character varying(50) NOT NULL,
    dir character varying(100) NOT NULL,
    optional public.yes_no_type DEFAULT 'Yes'::public.yes_no_type NOT NULL
);


ALTER TABLE public.modules OWNER TO postgres;

--
-- Name: servers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.servers (
    id integer NOT NULL,
    name character varying(30) NOT NULL,
    main_url character varying(100) NOT NULL,
    clientsid integer NOT NULL,
    servername character varying(50) NOT NULL,
    serveradmin character varying(255) NOT NULL,
    ip_hostname character varying(200) NOT NULL
);


ALTER TABLE public.servers OWNER TO postgres;

--
-- Name: servers_databases; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.servers_databases (
    id integer NOT NULL,
    serversid integer NOT NULL,
    hostname character varying(50) NOT NULL,
    username character varying(100) NOT NULL,
    password character varying(100) NOT NULL,
    dbname character varying(100) NOT NULL
);


ALTER TABLE public.servers_databases OWNER TO postgres;

--
-- Name: siteuserclient; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.siteuserclient (
    id integer NOT NULL,
    timenow timestamp(6) without time zone NOT NULL,
    guid character varying(32) NOT NULL,
    domainsid integer NOT NULL
);


ALTER TABLE public.siteuserclient OWNER TO postgres;

--
-- Name: templates; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.templates (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    dir character varying(100) NOT NULL,
    hidden public.yes_no_type DEFAULT 'No'::public.yes_no_type NOT NULL,
    allow_sidebar public.yes_no_type DEFAULT 'No'::public.yes_no_type NOT NULL
);


ALTER TABLE public.templates OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    name character varying(150) DEFAULT NULL::character varying,
    address character varying(100) DEFAULT ''::character varying,
    address2 character varying(111) NOT NULL,
    address3 character varying(111) NOT NULL,
    suburb character varying(30) DEFAULT ''::character varying,
    city character varying(111) NOT NULL,
    state character varying(20) DEFAULT ''::character varying,
    postcode integer DEFAULT 0,
    countryid integer NOT NULL,
    subdomain character varying(50) DEFAULT ''::character varying,
    phone character varying(30) DEFAULT ''::character varying,
    mobile character varying(30) DEFAULT ''::character varying,
    fax character varying(30) DEFAULT ''::character varying,
    email character varying(50) DEFAULT ''::character varying,
    website character varying(80) DEFAULT ''::character varying,
    contact_name character varying(30) DEFAULT ''::character varying,
    password character varying(50) DEFAULT NULL::character varying,
    email_notify integer DEFAULT 1,
    login_counter integer DEFAULT 0,
    abn character varying(15) DEFAULT ''::character varying,
    business_description text,
    mod_business_categoriesid integer NOT NULL,
    status public.approved_new_rejected_type DEFAULT 'New'::public.approved_new_rejected_type NOT NULL,
    clientsid integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: administrators id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.administrators ALTER COLUMN id SET DEFAULT nextval('public.administrators_id_seq'::regclass);


--
-- Data for Name: administrators; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.administrators (id, name, email, username, password, administratoractive, su, clientsid, hash) FROM stdin;
1	CreativeWebLogic .Net	info@creativelogistics.site	daniel2	password	1	No	1	

\.


--
-- Data for Name: clients; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.clients (id, name) FROM stdin;
1	Creative Web Logic

\.


--
-- Data for Name: content_pages; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.content_pages (id, uri, menutitle, languagesid, changed, domainsid, templatesid, module_viewsid, meta_keywords, meta_description, meta_title, exposure, menu_hide, homepage, sort_order, "Title") FROM stdin;
14	/	Home	1	2009-05-13 00:00:00	1	0	1				Public	No	Yes	0	Home DynDNS

\.


--
-- Data for Name: countries; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: domains; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.domains (id, name, analytics, gsitemapmeta, sitetitle, clientsid, aemail, templatesid, serversid, mirrorid, public, "SEOFriendly") FROM stdin;
1	cwl.strangled.net			Local Host Home	8	info@creativeweblogic.net	20	2	0	No	Yes

\.


--
-- Data for Name: domains_modules; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.domains_modules (id, domainsid, modulesid) FROM stdin;
13	14	3
12	24	3
11	24	2
10	32	3
\.


--
-- Data for Name: languages; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.languages (id, name) FROM stdin;
1	English
0	French
\.


--
-- Data for Name: mod_business_categories; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: mod_news; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.mod_news (id, content_pagesid, content_text, image, ntype, usersid, approved, sorder, mntype, description) FROM stdin;
\.


--
-- Data for Name: mod_text; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: module_views; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: module_views_menu; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.module_views_menu (module_viewsid, exposure) FROM stdin;
1	Public
21	Public
221	Public
22	Public
5551	Public
601	Public
602	Public
\.


--
-- Data for Name: modules; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.modules (id, name, dir, optional) FROM stdin;
1	Text Content	text	No
2	Member	member	Yes
3	News	news	Yes
555	Contact	contact	No
560	Banners	banner	Yes
600	install	install	Yes
800	Website Error Codes	error_codes	Yes
4	SiteMap	site_map	Yes
\.


--
-- Data for Name: servers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.servers (id, name, main_url, clientsid, servername, serveradmin, ip_hostname) FROM stdin;
0	Localhost Home	cwl.strangled.net	6	db-local.php		
1	Localhost	localhost	7	db-local.php		

\.


--
-- Data for Name: servers_databases; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.servers_databases (id, serversid, hostname, username, password, dbname) FROM stdin;
1	1	localhost	bubblelite	password	icwl0738_bubblelite2

\.


--
-- Data for Name: siteuserclient; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.siteuserclient (id, timenow, guid, domainsid) FROM stdin;
\.


--
-- Data for Name: templates; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, name, address, address2, address3, suburb, city, state, postcode, countryid, subdomain, phone, mobile, fax, email, website, contact_name, password, email_notify, login_counter, abn, business_description, mod_business_categoriesid, status, clientsid) FROM stdin;
\.


--
-- Name: administrators_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.administrators_id_seq', 1, false);


--
-- Name: administrators administrators_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.administrators
    ADD CONSTRAINT administrators_pkey PRIMARY KEY (id);


--
-- Name: clients clients_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT clients_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

